h3{
    font-size: 22px !important;
}

.btn-primary:hover{
    background-color: darkslategrey;
}

canvas{
    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from{box-shadow: 1px 1px 38px teal;}
    to{box-shadow: 1px 1px 38px lightseagreen;}
}